<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informe de Ensayo</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet"> 
</head>
<body>
  <div id="pdf-template" div class="container mx-auto">
    <div class="bordered-div">
      <div>
        <img alt="Company Logo" class="h-12" src="../../../assets/img/steelsoft.png" width="200" height="150"/>
      </div>
      <div style="text-align: center;">
        <h1 class="text-2xl font-bold">INFORME DE ENSAYO A COMPRESION EN CILINDROS DE CONCRETO</h1>
        <p>NTC-673/2021</p>
      </div>      
      <div>
        <p>Código: F-EM-04/03</p>
        <p>CR: 04238</p>
        <p>Inf. N°: 1137326</p>
      </div>
    </div>
    <div class="mb-4">
      <p>Observaciones: Los resultados corresponden exclusivamente a las muestras ensayadas.</p>
      <p>N=Normal B=Bajo</p>
    </div>
    <table>
      <thead>
          <tr>
            <th class="border border-black px-2 py-1">Cilindro N°</th>
            <th class="border border-black px-2 py-1">Localización</th>
            <th class="border border-black px-2 py-1">Fecha de toma</th>
            <th class="border border-black px-2 py-1">Fecha de ensayo</th>
            <th class="border border-black px-2 py-1">Sección (Días)</th>
            <th class="border border-black px-2 py-1">Edad (Días)</th>
            <th class="border border-black px-2 py-1">Peso (kg)</th>
            <th class="border border-black px-2 py-1">Densidad (kg/m³)</th>
            <th class="border border-black px-2 py-1">Carga máxima (kN)</th>
            <th class="border border-black px-2 py-1">Esfuerzo (kg/cm²)</th>
            <th class="border border-black px-2 py-1">Esfuerzo (MPa)</th>
            <th class="border border-black px-2 py-1">Esfuerzo (P.S.I.)</th>
            <th class="border border-black px-2 py-1">Fc %</th>
            <th class="border border-black px-2 py-1">Desarrollo de falla</th>
            <th class="border border-black px-2 py-1">Forma</th>
            <th class="border border-black px-2 py-1">OBS</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cilindro of dataSource.data">
          <td class="border border-black px-2 py-1">{{ cilindro.muestra }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.descripcion }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.fechaToma }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.fechaFalla }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.edad }}</td> //acá iría sección
          <td class="border border-black px-2 py-1">{{ cilindro.edad }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.peso }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.densidad }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.carga }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.esfuerzoKg }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.EsfuerzoMpa }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.EsfuerzoPsi }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.desarrollo }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.desarrollo }}</td> //acá iría fc%
          <td class="border border-black px-2 py-1">{{ cilindro.formaFalla }}</td>
          <td class="border border-black px-2 py-1">{{ cilindro.obs }}</td>
        </tr>        

      </tbody>
    </table>
    <div class="mb-4">
      <h2 class="font-bold">NOTAS:</h2>
      <p>Nota 1: No se realiza muestreo, la muestra fue suministrada por el cliente.</p>
      <p>Nota 2: Los resultados corresponden exclusivamente a la muestra ensayada tal y como se recibió de parte del cliente. El proceso de selección de la muestra es definido por el cliente.</p>
      <p>Nota 3: La información de Cantera, Localización, Descripción de la muestra, Fecha de toma, fue suministrada por el cliente.</p>
    </div>
    <div class="mb-4 image-container">
      <img alt="Diagrama de cono con fractura tipo 1" class="diagram" src="../../../assets/img/imagen123.png" width="500" height="700"/>
    </div>
    <div class="footer-section mb-4">
        <div>
          <p class="signature">Danilo Vargas</p>
          <p>INGENIERO RESIDENTE DE LABORATORIO</p>
        </div>
        <div>
          <p>RECIBIDO</p>
          <p>FIRMA:</p>
          <p>FECHA:</p>
        </div>
        <div>
          <p>Código: F-EM-04/03</p>
          <p>Inf N°: 1137326</p>
          <p>Aprobado: 2024-04-09</p>
          <p>Pág. 1/1 | 2024-04-09</p>
        </div>
      </div>
      
      <div class="footer-disclaimer">
        <p >** FIN DE INFORME ** PROHIBIDA LA REPRODUCCIÓN PARCIAL O TOTAL DE ESTE INFORME SIN PREVIA AUTORIZACIÓN DE STEELSOFT</p>
      </div>
  </div>    
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="muestra">
        <th mat-header-cell *matHeaderCellDef> muestra </th>
        <td mat-cell *matCellDef="let element"> {{element.carga}} </td>
    </ng-container>  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

    
</body>
</html>
