<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informe de Ensayo</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet"> 
</head>
<body>
  <div id="pdf-template" div class="container mx-auto">
    <div class="bordered-div">
      <div>
        <img alt="Company Logo" class="h-12" src="../../../assets/img/steelsoft.png" width="200" height="150"/>
      </div>
      <div style="text-align: center;">
        <h1 class="text-2xl font-bold">INFORME DE ENSAYO A COMPRESION EN CILINDROS DE CONCRETO</h1>
        <p>NTC-673/2021</p>
      </div>      
      <div>
        <p>Código: F-EM-04/03</p>
        <p>CR: 04238</p>
        <p>Inf. N°: 1137326</p>
      </div>
    </div>
    <div class="mb-4">
      <p>Observaciones: Los resultados corresponden exclusivamente a las muestras ensayadas.</p>
      <p>N=Normal B=Bajo</p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Cilindro N°</th>
          <th>Localización</th>
          <th>Fecha de toma</th>
          <th>Fecha de ensayo</th>
          <th>Sección (Días)</th>
          <th>Edad (Días)</th>
          <th>Peso (kg)</th>
          <th>Densidad (kg/m³)</th>
          <th>Carga máxima (kN)</th>
          <th>Esfuerzo (kg/cm²)</th>
          <th>Esfuerzo (MPa)</th>
          <th>Esfuerzo (P.S.I.)</th>
          <th>fc %</th>
          <th>Desarrollo de falla</th>
          <th>Forma</th>
          <th>OBS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>187</td>
          <td>CIMENTACION T.B. ZARPA APTO 103 ALMA T.E. 102, REM. 36227591</td>
          <td>2024-02-17</td>
          <td>2024-03-16</td>
          <td>4°C</td>
          <td>28</td>
          <td>3860</td>
          <td>2.34</td>
          <td>159.0</td>
          <td>200</td>
          <td>2857</td>
          <td>20.0</td>
          <td>21.0</td>
          <td>95</td>
          <td>Tip2</td>
          <td>B</td>
        </tr>
        <tr>
          <td>187</td>
          <td>CIMENTACION T.B. ZARPA APTO 103 ALMA T.E. 102, REM. 36227591</td>
          <td>2024-02-17</td>
          <td>2024-03-16</td>
          <td>4°C</td>
          <td>28</td>
          <td>3788</td>
          <td>2.30</td>
          <td>163.4</td>
          <td>206</td>
          <td>2936</td>
          <td>21.0</td>
          <td>21.0</td>
          <td>98</td>
          <td>Tip2</td>
          <td>B</td>
        </tr>
        <tr>
          <td>187</td>
          <td>CIMENTACION T.B. ZARPA APTO 103 ALMA T.E. 102, REM. 36227591</td>
          <td>2024-02-17</td>
          <td>2024-03-16</td>
          <td>4°C</td>
          <td>28</td>
          <td>3799</td>
          <td>2.31</td>
          <td>167.5</td>
          <td>211</td>
          <td>3010</td>
          <td>21.0</td>
          <td>21.0</td>
          <td>100</td>
          <td>Tip2</td>
          <td>N</td>
        </tr>
      </tbody>
    </table>
    <div class="mb-4">
      <h2 class="font-bold">NOTAS:</h2>
      <p>Nota 1: No se realiza muestreo, la muestra fue suministrada por el cliente.</p>
      <p>Nota 2: Los resultados corresponden exclusivamente a la muestra ensayada tal y como se recibió de parte del cliente. El proceso de selección de la muestra es definido por el cliente.</p>
      <p>Nota 3: La información de Cantera, Localización, Descripción de la muestra, Fecha de toma, fue suministrada por el cliente.</p>
    </div>
    <div class="mb-4 image-container">
      <img alt="Diagrama de cono con fractura tipo 1" class="diagram" src="../../../assets/img/imagen123.png" width="500" height="700"/>
    </div>
    <div class="footer-section mb-4">
        <div>
          <p class="signature">Danilo Vargas</p>
          <p>INGENIERO RESIDENTE DE LABORATORIO</p>
        </div>
        <div>
          <p>RECIBIDO</p>
          <p>FIRMA:</p>
          <p>FECHA:</p>
        </div>
        <div>
          <p>Código: F-EM-04/03</p>
          <p>Inf N°: 1137326</p>
          <p>Aprobado: 2024-04-09</p>
          <p>Pág. 1/1 | 2024-04-09</p>
        </div>
      </div>
      
      <div class="footer-disclaimer">
        <p >** FIN DE INFORME ** PROHIBIDA LA REPRODUCCIÓN PARCIAL O TOTAL DE ESTE INFORME SIN PREVIA AUTORIZACIÓN DE STEELSOFT</p>
      </div>
  </div>      
</body>
</html>
