<div class="container">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="imagen">
     <div class="boton-combo">
    <img class="imagen" src="assets/img/pdf2.png.png" alt="Icono">
    <span (click)="cambiarSeccion('concretos-pdf')">Descargar PDF</span>
    <span (click)="generatePDF()">Generar PDF</span>
  </div>
  </div>
    <form class="formulario" (ngSubmit)="listarCilindros()">
      <label class="label" for="cr">CR:</label>
      <input class="busqueda" type="text" id="cr" name="cr" [(ngModel)]="ordenDto.cr">
  
      <label class="label" for="fecha">Fecha:</label>
      <input class="fecha" type="date" id="fecha" name="fecha" [(ngModel)]="ordenDto.fecha">
  
      <input class="mi-boton" type="submit" value="Aceptar">
    </form>
    </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Nombre Column -->
    <ng-container matColumnDef="Cr">
       <th mat-header-cell *matHeaderCellDef> Cr </th>
       <td mat-cell *matCellDef="let element"> {{element.cr}} </td>
   </ng-container>

   <!-- Nit Column -->
   <ng-container matColumnDef="numeroMuestra">
       <th mat-header-cell *matHeaderCellDef> Numero de Muestra </th>
       <td mat-cell *matCellDef="let element"> {{element.muestra}} </td>
   </ng-container>        

   <!-- Direccion Column -->
   <ng-container matColumnDef="nombreObra">
       <th mat-header-cell *matHeaderCellDef> Nombre de la Obra </th>
       <td mat-cell *matCellDef="let element"> {{element.obra}} </td>
   </ng-container>

   <!-- Telefono Column -->
   <ng-container matColumnDef="tipoMuestraCilindro">
       <th mat-header-cell *matHeaderCellDef> Ensayo</th>
       <td mat-cell *matCellDef="let element"> {{element.ensayo}} </td>
   </ng-container>

   <!-- Telefono Column -->
   <ng-container matColumnDef="fechadeToma">
       <th mat-header-cell *matHeaderCellDef> Fecha de Toma</th>
       <td mat-cell *matCellDef="let element"> {{element.fechaToma}} </td>
   </ng-container>

 <!-- Campo "peso" -->
<ng-container matColumnDef="peso">
  <th mat-header-cell *matHeaderCellDef> Peso </th>
  <td mat-cell *matCellDef="let element">
    <!-- Campo de entrada editable para "peso" -->
    <input type="number" [(ngModel)]="element.peso" class="editable-input">
  </td>
</ng-container>

<ng-container matColumnDef="forma">
    <th mat-header-cell *matHeaderCellDef> Carga</th>
    <td mat-cell *matCellDef="let element">
      <!-- Campo de entrada editable -->
      <input type="text" [(ngModel)]="element.carga" class="editable-input">
    </td>
  </ng-container>
  
<!-- Campo "idforma" -->
<ng-container matColumnDef="formaFalla">
    <th mat-header-cell *matHeaderCellDef> Id Forma </th>
    <td mat-cell *matCellDef="let element">
      <!-- Campo de entrada editable para "idforma" -->
      <input type="number" [(ngModel)]="element.formaFalla" class="editable-input">
    </td>
  </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
</table>
<input class="guardar-cambios" type="submit" value="Guardar cambios" (click)="subirResultados()">

