<div class="navbar">

  <div class="logo">
    <a href="/menu" style="color: white;">Hola {{ email }}</a>
  </div>

  <div class="menu-items">
    <button class="menu-item" *ngIf="roles.includes('administrador')" (click)="cambiarSeccion('usuarios')">Usuarios</button>
    <button class="menu-item" *ngIf="!(roles.includes('digitador') || roles.includes('cliente'))" (click)="cambiarSeccion('empresas')">Empresas</button>
    <button class="menu-item" *ngIf="!(roles.includes('digitador') || roles.includes('cliente'))"(click)="cambiarSeccion('obra')">Obras</button>
    <select id="roles-filter" class="roles-select" (change)="seleccionarSeccion($event)">
      <option value="" selected disabled>Ensayos</option>
      <option value="ensayos">Concretos</option>
      <option value="suelos">Suelos</option>
      <option value="aceros">Aceros</option>
    </select>
    
    <button class="menu-item" *ngIf="!(roles.includes('digitador') || roles.includes('cliente'))"(click)="cambiarSeccion('sedes')">Sedes</button>
    <button class="menu-item" (click)="logout()">Salir</button>
  </div>

  <!-- Área para mostrar las secciones activas -->
  <div class="menu-container">
    <div *ngIf="seccionActiva === 'usuarios' || seccionActiva === 'ingeniero' || seccionActiva === 'digitador'|| seccionActiva === 'cliente'">
      <a routerLink="/usuarios" (click)="cambiarSeccion('usuarios')"></a>
    </div>
    <div *ngIf="seccionActiva === 'empresas'">
      <a routerLink="/empresas" (click)="cambiarSeccion('empresas')"></a>
    </div>
    <div *ngIf="seccionActiva === 'obra'">
      <a routerLink="/obra" (click)="cambiarSeccion('obra')"></a>
    </div>
    <div *ngIf="seccionActiva === 'sedes'">
      <a routerLink="/sedes" (click)="cambiarSeccion('sedes')"></a>
    </div>
    <div *ngIf="seccionActiva === 'ensayos' || seccionActiva === 'suelos' || seccionActiva === 'aceros'">
      <a routerLink="/ensayos" (click)="cambiarSeccion('ensayos')"></a>
      <a routerLink="/suelos" (click)="cambiarSeccion('suelos')"></a>
      <a routerLink="/aceros" (click)="cambiarSeccion('aceros')"></a>
    </div>
  </div>
  

</div>
