<div class="navbar">
  <div class="logo">Hola {{email}}</div>
  <div class="menu-items">
    <button class="menu-item" (click)="mostrarUsuarios = true; mostrarEnsayos = false;">Usuarios</button>
    <button class="menu-item" (click)="mostrarEnsayos = true; mostrarUsuarios = false;">Ensayos</button>
      <button class="menu-item" >Sedes</button>
      <button class="menu-item" (click)="logout()">Salir</button>
  </div>
</div>

<app-usuarios *ngIf="mostrarUsuarios"></app-usuarios>
<app-ensayos *ngIf="mostrarEnsayos"></app-ensayos>