<form class="registration-form">

    <div class="form-group">
        <label for="numeroMuestra">Numero de muestra:</label>
        <input type="text" id="numeroMuestra" name="numeroMuestra" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="cr">Cr:</label>
      <input type="text" id="cr" name="cr" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="proyecto">Proyecto:</label>
      <input type="text" id="proyecto" name="direccion" class="form-control" required>
    </div>
  
    <div class="form-group">
      <label for="ensayo">Ensayo:</label>
      <input type="text" id="ensayo" name="ensayo" class="form-control">
    </div>

    <div class="form-group">
        <label for="fechaToma">Fecha de toma:</label>
        <input type="text" id="fechaToma" name="fechaToma" class="form-control">
      </div>
  
  
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
  
  
