<header class="p-3 text-bg-dark">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center
    justify-content-lg-start">
    <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-bg-dark
    text-decoration-none">
    </a>
   
  <div *ngIf="!isLogged; then nologged else logged"></div>
  <ng-template #nologged>
    <div class="container">
      
    <div class="page-container1">
      <form #f="ngForm" (ngSubmit)="login()">
        <div class="login-form">
          <div class="input-container">
            <div class="login">
              <img src="../../../assets/img/ingeniero.png" width="25%">
              <p>Iniciar Sesión</p>
              <div class="input-container">
                <input #email="ngModel" class="ancho" [ngClass]="{
                  'is-invalid': email.invalid && (email.dirty || email.touched)
                }" type="email" id="email" name="email" [(ngModel)]="sesionDTO.email" required
                  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Ingresa tu Email"
                  style="background-color: #ffffff;" />
              </div>
              <div class="input-container">
                <input #password="ngModel" class="ancho" [ngClass]="{
                  'is-invalid':
                    password.invalid &&
                    (password.dirty || password.touched)
                }" type="password" id="password" name="password" [(ngModel)]="sesionDTO.password" required
                  placeholder="Ingresa tu Contraseña" style="background-color: #ffffff;" />
              </div>
              <div class="text-center">
                <button type="submit" class="ancho-boton" mat-stroked-button [disabled]="f.invalid">Ingresar</button>
                <app-alerta [alerta]="alerta"></app-alerta>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  </ng-template>
  <ng-template #logged>
            <app-menu></app-menu>
  </ng-template>
  
    </div>
    </div>
    </header>
    <div class="seccion-pagina p-4">
    <div class="container" >
    </div>
    </div>
  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4
  border-top">
  <div class="col-md-4 d-flex align-items-center">
  <span class="mb-3 mb-md-0 text-muted">&copy; SteelSoft</span>
  </div>
  </footer>
  </div>
  