body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 50px; /* Ajusta este valor según lo que necesites */
    text-align: left;
    margin-bottom: 20px; /* Ajusta este valor según lo necesites */

}
form {
    display: inline-block;
    text-align: left;
}

.tabla-container {
    margin-top: 20px; /* Ajusta este valor según lo necesites */
}
.mi-boton {
    margin-top: 40px;
    padding: 10px 20px; 
    margin-bottom: 20px;
    margin-left: 100px;
    background-color: #318f06; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    float: left;
  }
  .mi-boton:hover {
    background-color: #44740d; /* Nuevo color de fondo al pasar el cursor */
}
  
  .label {
    margin-top: 48px;
    display: inline-block;
    width: 60px; 
    text-align: right;
    margin-right: 10px;
  }
  
  .busqueda {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    width: 125px;
  }
  
  .fecha {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    width: 112px;
  }
  

  .form-container {
    display: flex;
    justify-content: center; /* Centra el formulario horizontalmente */
    align-items: center; /* Centra el formulario verticalmente */
  }
  
  .formulario {
    margin-top: -78px;
    display: flex;
    flex-wrap: wrap; 
  }
  .imagen {
    width: 65px;
    height: 65px;
    margin-left: 390px; /* Mantiene el margen izquierdo de 200px */
    margin-top: -34px; /* Ajusta el margen superior a 20px (o el valor deseado) */
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }
  .mat-elevation-z8 {
    width: 135%; /* O ajusta el ancho según sea necesario */
    border-collapse: collapse; /* Para asegurar que los bordes se vean bien */
    margin-top: 20px; /* Espacio superior entre la tabla y el contenido anterior */
  }

