<div class="container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="Usuarios"><span>{{ titulo }}</span></div>

  
  <div>
      <button class="mi-boton" href="/registro-usuarios" onclick="window.open('/registro-usuarios', 'Crear Usuario','width=800, height=700'); return false;" class="mi-boton">Crear Usuario</button>
      
      <div class="menu-items">
          <select id="roles-filter" class="roles-select" (change)="seleccionarSeccion($event)">
              <option value="usuarios" [selected]="seccionActiva === 'usuarios'">Administradores</option>
              <option value="ingenieros" [selected]="seccionActiva === 'ingenieros'">Ingenieros</option>
              <option value="digitadores" [selected]="seccionActiva === 'digitadores'">Digitadores</option>
              <option value="clientes" [selected]="seccionActiva === 'clientes'">Clientes</option>
              <!-- Agrega opciones para otros tipos de usuarios si es necesario -->
          </select>            
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Definición de columnas -->
          <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef> {{col === 'acciones' ? 'Acciones' : col === 'cedula' ? 'Cédula' : col === 'telefono' ? 'Teléfono' : col | titlecase}} </th>
            <td mat-cell *matCellDef="let element; let rowIndex = index">
              <ng-container *ngIf="editingRowIndex !== rowIndex; else editMode">
                {{ element[col] }}
                <a *ngIf="col === 'acciones' && !editingRowIndex" class="btn-danger pointer" style="color: #e15639;" matTooltip="Eliminar Usuario" (click)="eliminarUsuario(element.correo)">
                  <mat-icon>delete</mat-icon>
                </a>
                <a *ngIf="col === 'acciones' && !editingRowIndex" class="btn-danger pointer" style="color: #1f516f;" (click)="asignarObra(element.cedula)">
                  <mat-icon>engineering</mat-icon>
                </a>
              </ng-container>
              <ng-template #editMode>
                <!-- Código para el modo de edición -->
              </ng-template>
            </td>
          </ng-container>
          
          <!-- Fila de encabezado -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          
          <!-- Fila de datos -->
          <tr mat-row *matRowDef="let row; index as rowIndex; columns: displayedColumns;"></tr>
        </table>
  </div>
</div>
