<div class="container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="Empresas"><span>Usuarios</span></div>

  <div>
    <button class="mi-boton"*ngIf="roles.includes('admin')" href="/registro-usuarios" onclick="window.open('/registro-usuarios', 'Crear Usuario', 'width=600, height=400'); return false;" class="mi-boton">Crear Usuario</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Definición de columnas -->
      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef> {{col === 'acciones' ? 'Acciones' : col === 'cedula' ? 'Cedula' : col === 'nombre' ? 'Nombre' : col === 'email' ? 'Email' : col === 'genero' ? 'Género' :col === 'rol' ? 'Rol' : col | titlecase}} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <!-- Verifica si estamos en modo de edición para esta fila -->
          <ng-container *ngIf="editingRowIndex !== rowIndex; else editMode">
            {{element[col]}}
            <!-- Icono de edición -->
            <a *ngIf="col === 'acciones' && !editingRowIndex" class="pointer" (click)="startEditing(rowIndex)">
              <mat-icon>edit</mat-icon>
            </a>
            <!-- Icono de eliminación -->
            <a *ngIf="col === 'acciones' && !editingRowIndex" class="btn-danger pointer" style="color: #e15639;" >
              <mat-icon>delete</mat-icon>
            </a>
          </ng-container>
          <!-- Modo de edición -->
          <ng-template #editMode>
            <ng-container *ngIf="col === 'cedula' || col === 'nombre' || col === 'email' || col === 'genero' || col === 'rol' ">
              <input
                type="text"
                [(ngModel)]="element[col]"
                class="edit-input"
              >
            </ng-container>
            <!-- Icono de guardado -->
            <a *ngIf="col === 'acciones' && editingRowIndex === rowIndex" class="btn-danger pointer" style="color: #0f41e6;" (click)="saveChanges()" >
              <mat-icon class="circle-icon">check_circle</mat-icon>
            </a>
            <!-- Icono de cancelación -->
            <a *ngIf="col === 'acciones' && editingRowIndex === rowIndex" class="btn-danger pointer" style="color: #e15639;" (click)="cancelEditing()">
              <mat-icon>cancel</mat-icon>
            </a>
          </ng-template>
        </td>
      </ng-container>

      <!-- Fila de encabezado y fila de datos -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; index as rowIndex; columns: displayedColumns"></tr>
    </table>

    <!-- Mensaje de alerta -->
<div *ngIf="alerta" style="margin-top: 10px;">
  <div *ngIf="alerta.tipo === 'danger'" style="color: #721c24; background-color: #f8d7da; padding: 0.75rem 1.25rem; border-radius: 0.25rem;">
    {{ alerta.mensaje }}
  </div>
  <div *ngIf="alerta.tipo === 'success'" style="color: #155724; background-color: #d4edda; padding: 0.75rem 1.25rem; border-radius: 0.25rem;">
    {{ alerta.mensaje }}
  </div>

  </div>
</div>


