<div class="container">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="Usuarios"><span>Administrador</span></div>
    <div>
        <button class="mi-boton" href="/registro-usuarios" onclick="window.open('/registro-usuarios', 'Crear Usuario','width=800, height=700'); return false;" class="mi-boton">Crear Administrador</button>
       
        <div class="busqueda">
          <form (ngSubmit)="buscarAdministrador(busqueda.value)" class="search-form">
            <input #busqueda type="search" name="busquedamusica" placeholder="Search for correo...." class="search-input" 
                   (keyup)="onBuscarInputChange(busqueda.value)" required>
            <button type="submit" class="search-button">
              <mat-icon>search</mat-icon>
            </button>
          </form>
        </div>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Correo Column -->
            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef> Correo </th>
              <td mat-cell *matCellDef="let element; let rowIndex = index">
                <!-- Verifica si estamos en modo de edición para esta fila -->
                <ng-container *ngIf="editingRowIndex !== rowIndex; else editMode">
                  {{element.correo}}
                </ng-container>
                
                <!-- Modo de edición -->
                <ng-template #editMode>
                  <input type="text" [(ngModel)]="element.correo" class="edit-input">
                </ng-template>
              </td>
            </ng-container>
          
            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element; let rowIndex = index" style="text-align: left;">
                <!-- Verificar si estamos en modo de edición para esta fila -->
                <ng-container *ngIf="editingRowIndex !== rowIndex; else editMode">
                  <!-- Icono de edición -->
                  <a class="pointer" style="color: #1f516f;" matTooltip="Editar Usuario" (click)="startEditing(rowIndex)">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <!-- Icono de eliminación -->
                  <a class="pointer" style="color: #e15639;" matTooltip="Eliminar Ciudad" (click)="eliminarAdministrador(element.correo)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </ng-container>
                
                <!-- Modo de edición -->
                <ng-template #editMode>
                  <!-- Icono de cancelación -->
                  <a class="pointer" style="color: #e15639;" matTooltip="Cancelar Edición" (click)="cancelEditing()">
                    <mat-icon>cancel</mat-icon>
                  </a>
                  <!-- Icono de guardado -->
                  <a class="pointer" style="color: #0f41e6;" matTooltip="Guardar Cambios"(click)="saveChanges()">
                    <mat-icon class="circle-icon">check_circle</mat-icon>
                  </a>
                </ng-template>
              </td>
            </ng-container>
          
            <!-- Fila de encabezado -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            
            <!-- Fila de datos -->
            <tr mat-row *matRowDef="let row; index as rowIndex; columns: displayedColumns;"></tr>
          </table>
          
          
    </div>
</div>
