.container{
  margin-top: 60px;
  
  }

table {
  width: 80%;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

th{
  width: 10%;
}

.pointer{
  cursor: pointer;
}
.form-container {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}

.mi-boton {
  padding: 10px 20px; 
  margin-bottom: 20px;
  margin-right: 10px; /* Espacio entre los botones */
  background-color: #2e0257; 
  color: #fff; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  float: left;
}
.imagen{
  padding: 5px 5px; 
  margin-top: -15px;
  margin-bottom: 10px;
  margin-right: 10px; /* Espacio entre los botones */
  border: none; 
  cursor: pointer; 
  float: left;
}

.busqueda {
  margin-left: auto; /* Empuja el formulario de búsqueda al extremo derecho */
}

.mi-boton:hover {
  background-color: #0056b3; 
}
.Concretos{
  margin-bottom: 10px;
  width: 100%;
  text-align: center; 
  font-size: 25px; 
  font-weight: bold;
}

  .search-form {
    display: inline-block;
  }
  
  .search-input {
    
    padding: 10px 10px; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    width: 200px;
  }
  
  .search-button {
    vertical-align: middle;
    padding: 5px 5px 5px; 
    color: #2431ee; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
  }
  .tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #383a38;
}

input:focus-visible + label {
  outline: 7px solid rgba(0,102,204,1);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #fafafa;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0px;
}

.tabset {
  max-width: 65em;
}
.tab-panel table {
  width: 135%; /* O ajusta el ancho según sea necesario */
  border-collapse: collapse; /* Para asegurar que los bordes se vean bien */
  margin-top: 20px; /* Espacio superior entre la tabla y el contenido anterior */
}

.tab-panel th,
.tab-panel td {
  padding: 10px; /* Espacio interno dentro de las celdas */
  
}

  

