<div class="container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="tabset">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
    <label for="tab1">Listado</label>
    <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
    <label for="tab2">Orden</label>
    <!-- Tab 3 -->
    <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
    <label for="tab3">Resultados</label>
    
    <!-- Tab 3 -->
    <input type="radio" name="tabset" id="tab4" aria-controls="reports">
    <label for="tab4">Reportes</label>

    <div class="tab-panels">
      <section id="marzen" class="tab-panel">
        <button class="mi-boton" *ngIf="roles.includes('administrador')"onclick="window.open('/registro-cilindro', 'Crear Cilindro', 'width=600, height=500'); return false;">Crear cilindro</button>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Nombre Column -->
          <ng-container matColumnDef="Cr">
             <th mat-header-cell *matHeaderCellDef> Cr </th>
             <td mat-cell *matCellDef="let element"> {{element.cr}} </td>
         </ng-container>

         <!-- Nit Column -->
         <ng-container matColumnDef="numeroMuestra">
             <th mat-header-cell *matHeaderCellDef> Numero de Muestra </th>
             <td mat-cell *matCellDef="let element"> {{element.numeroMuestra}} </td>
         </ng-container>        
 
         <!-- Direccion Column -->
         <ng-container matColumnDef="nombreObra">
             <th mat-header-cell *matHeaderCellDef> Nombre de la Obra </th>
             <td mat-cell *matCellDef="let element"> {{element.nombreObra}} </td>
         </ng-container>
 
         <!-- Telefono Column -->
         <ng-container matColumnDef="tipoMuestraCilindro">
             <th mat-header-cell *matHeaderCellDef> Ensayo</th>
             <td mat-cell *matCellDef="let element"> {{element.tipoMuestraCilindro}} </td>
         </ng-container>

         <!-- Telefono Column -->
         <ng-container matColumnDef="fechadeToma">
             <th mat-header-cell *matHeaderCellDef> Fecha de Toma</th>
             <td mat-cell *matCellDef="let element"> {{element.fechaToma}} </td>
         </ng-container>

         <!-- Acciones Column -->
         <ng-container matColumnDef="acciones">
             <th mat-header-cell *matHeaderCellDef> Acciones </th>
             <td mat-cell *matCellDef="let element" style="text-align: left;">
               <a class="pointer" style="color: #e15639;" matTooltip="Eliminar Usuario" (click)="eliminarCilindro(element.id)">
                 <mat-icon>delete</mat-icon> <!-- Icono de eliminación -->
               </a>
               <span style="margin-left: 8px; color: #d47508; cursor: pointer;" (click)="openWindow(element.id)" matTooltip="Icono de cilindro">
                 <mat-icon style="color: #066133;">construction</mat-icon>
               </span>
             </td>
           </ng-container>
           
 
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         
     </table>
      </section>
      <section id="rauchbier" class="tab-panel">
        <app-orden-concretos></app-orden-concretos>
      </section>
      <section id="dunkles" class="tab-panel">
        <app-resultados-concretos></app-resultados-concretos>
      </section>
      <section id="reports" class="tab-panel">
        <app-reporte></app-reporte>
      </section>
    </div>
  </div>
</div>
