
    <button class="btn">Guardar</button>
    <h2 class="fecha">Fecha de ensayo: <input type="text" value={{dataSource.data[0].fechaEnsayo}} style="font-size: 12px; width: auto;"></h2>
    <table>
        <thead>
            <tr>
                <th>Masa antes del lavado g:</th>
                <td><input type="text" value={{dataSource.data[0].pesoAntesLavado}}></td>
            </tr>
            <tr>
                <th>Tamiz (Pulg)</th>
                <th>Tamiz (mm)</th>
                <th>Masa retenida (g)</th>
            </tr>
        </thead>
        <tbody>
         
            <tr><td>3 ½”</td><td>101.6</td><td><input type="text" value={{dataSource.data[0].resultados[0].toFixed(3)}}></td></tr>
            <tr><td>3”</td><td>88.9</td><td><input type="text" value={{dataSource.data[0].resultados[1].toFixed(3)}}></td></tr>
            <tr><td>2 ½”</td><td>76.2</td><td><input type="text" value={{dataSource.data[0].resultados[2].toFixed(3)}}></td></tr>
            <tr><td>2”</td><td>63.5</td><td><input type="text" value={{dataSource.data[0].resultados[3].toFixed(3)}}></td></tr>
            <tr><td>1 ½”</td><td>50.8</td><td><input type="text" value={{dataSource.data[0].resultados[4].toFixed(3)}}></td></tr>
            <tr><td>1”</td><td>38.1</td><td><input type="text" value={{dataSource.data[0].resultados[5].toFixed(3)}}></td></tr>
            <tr><td>3/4”</td><td>25.4</td><td><input type="text" value={{dataSource.data[0].resultados[6].toFixed(3)}}></td></tr>
            <tr><td>1/2”</td><td>19.05</td><td><input type="text" value={{dataSource.data[0].resultados[7].toFixed(3)}}></td></tr>
            <tr><td>3/8”</td><td>12.7</td><td><input type="text" value={{dataSource.data[0].resultados[8].toFixed(3)}}></td></tr>
            <tr><td>#4</td><td>9.525</td><td><input type="text" value={{dataSource.data[0].resultados[9].toFixed(3)}}></td></tr>
            <tr><td>#8</td><td>4.75</td><td><input type="text" value={{dataSource.data[0].resultados[10].toFixed(3)}}></td></tr>
            <tr><td>#10</td><td>2.00</td><td><input type="text" value={{dataSource.data[0].resultados[11].toFixed(3)}}></td></tr>
            <tr><td>#12</td><td>1.70</td><td><input type="text" value={{dataSource.data[0].resultados[12].toFixed(3)}}></td></tr>
            <tr><td>#16</td><td>1.18</td><td><input type="text" value={{dataSource.data[0].resultados[13].toFixed(3)}}></td></tr>
            <tr><td>#30</td><td>0.60</td><td><input type="text" value={{dataSource.data[0].resultados[14].toFixed(3)}}></td></tr>
            <tr><td>#40</td><td>0.425</td><td><input type="text" value={{dataSource.data[0].resultados[15].toFixed(3)}}></td></tr>
            <tr><td>#50</td><td>0.30</td><td><input type="text" value={{dataSource.data[0].resultados[16].toFixed(3)}}></td></tr>
            <tr><td>#80</td><td>0.18</td><td><input type="text" value={{dataSource.data[0].resultados[17].toFixed(3)}}></td></tr>
            <tr><td>#100</td><td>0.15</td><td><input type="text" value={{dataSource.data[0].resultados[18].toFixed(3)}}></td></tr>
            <tr><td>#200</td><td>0.075</td><td><input type="text" value={{dataSource.data[0].resultados[19].toFixed(3)}}></td></tr>
            
            <tr><td>Fondo</td><td></td><td><input type="text" value=""></td></tr>
            <tr>
                <th>Total</th>
                <td></td>
                <td><input type="text" value=""></td>
            </tr>
        </tbody>
    </table>