
<header class="p-3 text-bg-dark">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center
    justify-content-lg-start">
    <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-bg-dark
    text-decoration-none">
    </a>
    <ul *ngIf="roles.includes('administrador')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <app-menu *ngIf="!isRouteIncluded(['/registro-usuarios', '/registro-ciudad', '/registro-sedes', '/registro-empresa', 
      '/registro-cilindro', '/registro-obra', '/registro-muestra','/concretos-pdf', '/asignar-obra', '/informe-concretos','/suelos-pdf','/registro-suelos'])"></app-menu>
    </ul>

    <ul *ngIf="roles.includes('ingeniero')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <app-menu *ngIf="!isRouteIncluded(['/registro-usuarios', '/registro-ciudad', '/registro-sedes', '/registro-empresa', '/registro-cilindro', '/registro-obra', '/registro-muestra','/concretos-pdf', '/asignar-obra'])"></app-menu>
    </ul>
    
  
    <ul *ngIf="roles.includes('digitador')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <app-menu *ngIf="!isRouteIncluded(['/registro-usuarios', '/registro-ciudad', '/registro-sedes', '/registro-empresa', 
      '/registro-cilindro', '/registro-obra', '/registro-muestra','/concretos-pdf', '/asignar-obra'])"></app-menu>
    </ul>

<div *ngIf="!isLogged; then nologged else logged"></div>
<ng-template #nologged>
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>
<app-login></app-login>
</ng-template>
<ng-template #logged>
</ng-template>
    </div>
    </div>
    </header>
    <div class="seccion-pagina p-4">
      <router-outlet></router-outlet>
    <div class="container" >
    </div>
    </div>