<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informe de Ensayo</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet"> 
</head>
<body>
  <div id="pdf-template" div class="container mx-auto">
    <div class="bordered-div">
      <div>
        <img alt="Company Logo" class="h-12" src="../../../assets/img/steelsoft.png" width="200" height="150"/>
      </div>
      <div style="text-align: center;">
        <h1 class="text-2xl font-bold">Programación Ensayos de Concretos, mortero, grouting, vigas, muretes</h1>
      </div>      
      <div>
        <p>Fecha Aprobación:: 2018-10-08</p>
        <p>Código: PF-L-0407</p>
        <p>Página: 1/10</p>
      </div>
    </div>
    <div class="border-t border-b border-black py-2 mb-4 horizontal-container">
        <div class="item">
            <span class="label">FECHA:</span>
            <span class="value">2024-04-18</span>
        </div>
        <div class="item">
            <span class="label">Norma:</span>
            <span class="value">NTC 673</span>
            <span>(1)</span>
        </div>
        <div class="item">
            <span class="label">Ensayo:</span>
            <span class="value">INVE 410</span>
            <span>(1)</span>
        </div>
    </div>
    
    
    <table class="w-full text-xs border-collapse">
        <thead>
            <tr>
                <th class="border border-black px-2 py-1">CR</th>
                <th class="border border-black px-2 py-1">Muestra N°</th>
                <th class="border border-black px-2 py-1">Tipo Material</th>
                <th class="border border-black px-2 py-1">Edad (días)</th>
                <th class="border border-black px-2 py-1">SINO</th>
                <th class="border border-black px-2 py-1">Diametro 1 (mm)</th>
                <th class="border border-black px-2 py-1">Diametro 2 (mm)</th>
                <th class="border border-black px-2 py-1">Altura (mm)</th>
                <th class="border border-black px-2 py-1">Peso (g)</th>
                <th class="border border-black px-2 py-1">Carga Máx. (kN)</th>
                <th class="border border-black px-2 py-1">Forma de falla</th>
                <th class="border border-black px-2 py-1">Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Existing rows -->
            <!-- Placeholder for additional rows -->
            <tr>
                <td class="border border-black px-2 py-1">CR-04236</td>
                <td class="border border-black px-2 py-1">1</td>
                <td class="border border-black px-2 py-1">Viga</td>
                <td class="border border-black px-2 py-1">28</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-04249</td>
                <td class="border border-black px-2 py-1">105</td>
                <td class="border border-black px-2 py-1">3' M</td>
                <td class="border border-black px-2 py-1">14</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-04250</td>
                <td class="border border-black px-2 py-1">107</td>
                <td class="border border-black px-2 py-1">4" G</td>
                <td class="border border-black px-2 py-1">28</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-04247</td>
                <td class="border border-black px-2 py-1">113</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">28</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <!-- New rows -->
            <tr>
                <td class="border border-black px-2 py-1">CR-04251</td>
                <td class="border border-black px-2 py-1">108</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">7</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-04252</td>
                <td class="border border-black px-2 py-1">109</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">14</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-042512</td>
                <td class="border border-black px-2 py-1">110</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">21</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-0425323</td>
                <td class="border border-black px-2 py-1">110</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">21</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-0425323</td>
                <td class="border border-black px-2 py-1">110</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">21</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-0425312</td>
                <td class="border border-black px-2 py-1">110</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">21</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-0425343</td>
                <td class="border border-black px-2 py-1">110</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">21</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
            <tr>
                <td class="border border-black px-2 py-1">CR-042537</td>
                <td class="border border-black px-2 py-1">110</td>
                <td class="border border-black px-2 py-1">4" TC</td>
                <td class="border border-black px-2 py-1">21</td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
                <td class="border border-black px-2 py-1"></td>
            </tr>
        </tbody>
    </table>

  </div>      
</body>
</html>
