<div>
  <h2>Registro de Empresa</h2>
  <div *ngIf="alerta" class="alert alert-{{alerta.tipo}}">
    {{ alerta.mensaje }}
  </div>

  <div>
    <label>NIT:</label>
    <input type="text" [(ngModel)]="nit">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nombre">
    <label>Dirección:</label>
    <input type="text" [(ngModel)]="direccion">
    <label>Teléfono:</label>
    <input type="text" [(ngModel)]="telefono">
    <button (click)="registrar()">Registrar Empresa</button>
  </div>
</div>
