<div class="container">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
        <label for="tab1">Listado</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
        <label for="tab2">Resultados</label>
    
       
            <div class="tab-panels">
                <section id="marzen" class="tab-panel">
                <button class="mi-boton" *ngIf="roles.includes('administrador')" onclick="window.open('/registro-suelos', 'Crear Suelos', 'width=600, height=500'); return false;">Crear suelos</button>
                 
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">       
    
            <!-- Nombre Column -->
            <ng-container matColumnDef="Cr">
                <th mat-header-cell *matHeaderCellDef> Cr </th>
                <td mat-cell *matCellDef="let element"> {{element.cr}} </td>
            </ng-container>

               <!-- Nit Column -->
               <ng-container matColumnDef="numerodeMuestra">
                <th mat-header-cell *matHeaderCellDef> Numero de Muestra </th>
    
                <td mat-cell *matCellDef="let element"> {{element.numerodeMuestra}} </td>
            </ng-container> 

            <!-- Direccion Column -->
            <ng-container matColumnDef="proyecto">
                <th mat-header-cell *matHeaderCellDef> Nombre de obra </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreObra}} </td>
            </ng-container>
    

            <!-- Telefono Column -->
            <ng-container matColumnDef="fechaProgramada">
                <th mat-header-cell *matHeaderCellDef> Fecha programada</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaProgramada}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element" style="text-align: left;">
                    <mat-icon onclick="window.open('/resultados-suelos', 'Crear Suelos', 'width=800, height=600'); return false;">add</mat-icon>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
    </section>
    <section id="rauchbier" class="tab-panel">
        <img class="imagen" src="assets/img/pdf2.png.png" (click)="cambiarSeccion('suelos-pdf')" alt="Icono">
    </section>
    </div>
    